<div class="sidebar-wrapper">
        <ul class="nav">
          <li  class="active" id="Pages">
            <a href="/Admin/">
              <i class="mdi mdi-file-multiple"></i>
              <p>Main panel</p>
            </a>
          </li>
          <li class=""  id="Edit User">
            <a href="/records/">
              <i class="mdi mdi-account-edit"></i>
              <p>Records</p>
            </a>
          </li>
          <li class=""  id="Remove User">
            <a href="/removeuser/">
              <i class="mdi mdi-account-remove"></i>
              <p>Workers</p>
            </a>
          </li>

          <li class=""  id="Send Notice">
            <a href="/notice/">
              <i class="mdi mdi-voice"></i>
              <p>Reports</p>
            </a>
          </li>
          <li class=""  id="Block User">
            <a href="/blockuser/">
              <i class="mdi mdi-block-helper"></i>
              <p>Remove workers</p>
            </a>
          </li>
          <li class=""  id="Block User">
            <a href="/graphs/">
              <i class="mdi mdi-block-helper"></i>
              <p>Summary</p>
            </a>
          </li>


          <li class=""  id="cosupervisors">
            <a href="/cosupervisors/">
              <i class="mdi mdi-table"></i>
              <p>Add Workers</p>
            </a>
          </li>


        </ul>
      </div>
